<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <title>GUDA</title>
  
    <link rel="stylesheet" href="/css/styles.css">
 
  </head>
  <body>
    <div class="main">
      <div class="logo">
        <img src="/assets/main.jpg" alt="" style="width:100%">
      </div>
      <div class="status"><span>status: <span id="stat" class="blinking1">Disconnected</span></span></div>
      <br><br>
      <div id="box1">
        <div class="groupBTN">
          <button id="insrtBTN">INSERT COIN</button>
          <button id="conctBTN">VIEW RATES</button>
          <label>
            <input id="voucherInput" name="username" type="text" placeholder="Voucher here..." />
          </label>
          <button id="submitBTN">SUBMIT</button>
        </div>
      </div>
    
    </div>
    <footer>
        Copyright 2023 GUDA
      </footer>
      
  </body>
</html>