<!DOCTYPE html>
<html lang="en">
    <head>
       
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <title>GUDA</title>
    </head>
    <body>
        <div class="container w-70 d-flex flex-column">
            <img src="/assets/main.jpg" alt="image" class="portal-img mb-3">
            <p class="text-center text-success status">IP:0.0.0.0 | MAC: 00:00:00:00:00:00</p>
            <p class="text-center">Status: <span class="badge text-wrap bg-danger">Disconnected</span></p>
            <p class="text-center text-dark-emphasis rtime">REMAINING TIME</p>
            <p class="text-center text-success fs-4 fw-bold">23d:6hr:5min:32sec</p>
            <button type="button" class="btn btn-primary mx-auto btn-lg mb-2 insert px-5 fs-5">INSERT COINS</button>
            <button type="button" class="btn btn-success mx-auto btn-lg px-5">VIEW RATES</button>
          </div>
          
    </body>
</html>